.navbar {
  background-color: #7ac1e4;
  display: flex;
  align-items: center;
  padding: 10px 30px;
  margin-top: 0px;
  
}

.logo {
  margin-right: 40px; /* Space between logo and links */
}

.logo img {
  height: 40px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #0000ff;
  font-weight: bold;
  font-size: 18px;
}

.nav-links a:hover,
.nav-links a.active {
  text-decoration: underline;
  color: #003366;
}
